.App {
  display: flex;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #cccccc;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.activeCategory {
  color: white;
  font-size: larger;
}