@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.MyProfile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: -7em;
  margin-bottom: 2em;
}

.Navigation {
  display: flex;
  flex-direction: row;
  gap: 1em;

}

.Pages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}

.Navbar {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  height: 100vh;
  flex: 0.5;
  background-color: orange;
}

.Navbar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0.3em;
  transition: 0.4s;
}

.Navbar a:hover {
  background: #cdfeaa;
  transition: 0.4s;
}


