:root {
	--primary: #bc5b3c;
	--secondary: #d3866b;
	--black: #454b4c;
	--gray: #8c8c8d;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.content {
	color: var(--gray);
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'News Cycle', sans-serif;
	text-transform: uppercase;
}
h3 {
	font-weight: normal;
	color: var(--gray);
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
