.awards {
    color: rgb(100, 95, 95);
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 25px;
}

* {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    