.navbar--container {
	background-color: var(--primary);
	min-height: 100vh;
	width: 15vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 22px;
	text-align: center;
}
.nav--item_container {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.nav--item {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: var(--secondary);
}
