.interest > .container {
    gap: 0;
    align-items: center;
}

.card {
    background-color: #ff7a90;
    width: 16em;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em #f88598;
}

.card > h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.card:nth-child(2){
    margin: -2.5em 0 -2.5em 18em;
    z-index: 10;
}

.card:last-child{
    z-index: 15;
}